/* 
.body {
    padding:0px 10%;

  }
.Mitad {
  width: 48%;
  margin-left: 4%;
  display: block;
  float: left;
}
.primero{
  margin-left: 0 !important;
} */

.column, .columns {
  float: left;
  box-sizing: border-box;
}